
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tauri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Tauri&display=swap');



body{
    background: rgb(12,11,45);
    background: linear-gradient(0deg, rgba(12,11,45,0.9612219887955182) 0%, rgba(35,35,124,0.8939950980392157) 44%, rgba(187,211,247,0.896796218487395) 91%);
    height: 100vh;
    font-family: "Noto Sans", sans-serif;
}



.cabecalho{
    background-color: rgba(224, 236, 255, 0.897)  ;
    display: flex;
    justify-content: space-between;
    color: rgb(33, 32, 32);
    
}


.imglogo{
    width: 10%;
    margin-top: 0px;
    cursor: pointer;
    text-align: center;
    size: 10px;

}

.botao{
    display: flex;
    justify-content: space-between;
    background-color: #03961b;
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 12px; 
    margin-top: 35px;

    font-family: "Tauri", sans-serif;
}
.botao:hover{
  
    background-color: #a6f0ad; 
    color: black; 

}


.corpo1{
    background-color: rgba(224, 236, 255, 0.897) ;
    font-size: 150%;
    color: darkblue;
}

.item{
     display: flex; 
     align-items: center;
     background-color: rgba(224, 236, 255, 0.897);
     justify-content: space-evenly;
}

.logos{
    width: 100%;
    font-size: 30px;
}

.buton{
    display: flex;
    justify-content: space-between;
    background-color: #03961b;
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 12px; 
    margin-top: 35px;

    font-family: "Tauri", sans-serif;
}

.buton:hover{
  
    background-color: #a6f0ad; 
    color: black; 

}